@(currentPage: Page[Samochod], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {
    
	@*<h1 id="homeTitle">@Messages("samochody.list.title", currentPage.getTotalRowCount)</h1>*@
	
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Gotowe!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <a class="btn success" id="add" href="@routes.Application.create()">Dodaj nowy samochód</a>
        
        <form action="@link(0, "marka")" method="GET" id="search">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Szukaj po marce...">
            <input type="submit" id="searchsubmit" value="Szukaj" class="btn primary">
        </form>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Brak danych do wyświetlenia</em>
        </div>
        
    } else {
        
        <table class="table">
            <thead>
                <tr>
                	@header("numRej", "Numer rejestracyjny")
                    @header("marka", "Marka")
                    @header("model", "Model")
                    @header("typ", "Typ")
                    @header("dataProdukcji", "Rok produkcji")
                    @header("przeglad", "Data ważności przeglądu")
                    @header("ubezpieczenie", "Data ważności ubezpieczenia")
                </tr>
            </thead>
            <tbody>

                @for(samochod <- currentPage.getList) {
                	@if(samochod.ubezpieczenie == null || samochod.przeglad == null){
                	<tr class="warning">
                	}else{
                    @if((new Date(System.currentTimeMillis() + (7 * 1000 * 60 * 60 * 24)).format("dd MMM yyyy")) >= samochod.przeglad.format("dd MMM yyyy") || (new Date(System.currentTimeMillis() + (7 * 1000 * 60 * 60 * 24)).format("dd MMM yyyy")) >= samochod.ubezpieczenie.format("dd MMM yyyy")){
                    	@if(new Date().format("dd MMM yyyy") >= samochod.przeglad.format("dd MMM yyyy") || new Date().format("dd MMM yyyy") >= samochod.ubezpieczenie.format("dd MMM yyyy")){
                    	<tr class="error">
                    	}else{
                        <tr class="warning">
                        }
                         } else{
                        <tr>
                        }
                        }
                        <td><a href="@routes.Application.edit(samochod.id)">@samochod.numRej</a></td>
                        <td>@samochod.marka</td>
                        <td>
                        @if(samochod.model == null) {
                                <em>-</em>
                            } else {
                            	@samochod.model
                            }
                        </td>
                        <td>@samochod.typ</td>
                        <td>
                            @if(samochod.dataProdukcji == null) {
                                <em>-</em>
                            } else {
                                @samochod.dataProdukcji.format("yyyy")
                            }
                        </td>
                        <td>
                        
                            @if(samochod.przeglad == null) {
                                <em>-</em>
                            } else{
                                @samochod.przeglad.format("dd MMM yyyy")
                                }
                        </td>
                        <td>
                            @if(samochod.ubezpieczenie == null) {
                                <em>-</em>
                            } else {
                                @samochod.ubezpieczenie.format("dd MMM yyyy")
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Poprzednia</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Poprzednia</a>
                    </li>
                }
                <li class="current">
                    <a>@currentPage.getDisplayXtoYofZ(" do "," z ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Następna &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Następna &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}